In [4]:
''' Keep asking how to get insigths'''

' Keep asking how to get insigths'

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df_sex_abuse_complete = pd.read_csv('Complet_Set_Abuse_&_pob_by_year.csv')

# Modify of dataset

In [5]:
df_sex_abuse_complete.head()

,Year,State,Type_of_abuse,Month,Count,Month_num,Date,2015,2016,2017,2018,2019,2020,2021,2022,2023,Population
0,2015,Puebla,Acoso sexual,Enero,11,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
1,2015,Puebla,Hostigamiento sexual,Enero,1,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
2,2015,Puebla,Violacion simple,Enero,43,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
3,2015,Puebla,Violacion Equiparada,Enero,8,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
4,2015,Puebla,Otros delitos que atentan contra la libertad y...,Enero,49,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0

In [7]:
''' Cambio de nombre de las columnas'''
#df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})
df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})
df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})
df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})
df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})
df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})
df_sex_abuse_complete = df_sex_abuse_complete.rename(columns= {'Poblacion 2014' : 'Poblacion 2015'})

In [8]:
df_sex_abuse_complete.head()

,Year,State,Type_of_abuse,Month,Count,Month_num,Date,Poblacion 2015,2016,2017,2018,2019,2020,2021,2022,2023,Population
0,2015,Puebla,Acoso sexual,Enero,11,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
1,2015,Puebla,Hostigamiento sexual,Enero,1,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
2,2015,Puebla,Violacion simple,Enero,43,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
3,2015,Puebla,Violacion Equiparada,Enero,8,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0
4,2015,Puebla,Otros delitos que atentan contra la libertad y...,Enero,49,1,2015-01-01,5641396.0,5743441.0,5846835.0,5951592.0,6057725.0,6165248.0,6274175.0,6384526.0,6496324.0,5641396.0